html{
    font-family:Arial, Helvetica, sans-serif
}
body{
    border:solid; 
    border-color: #5a002c;
    width:50%;
} 

#highest{
    display: flex;
    height:110vh;
}
.section-head{
    padding-left: 0.5ex;
    background-color: #5a002c;
    color:pink
}
#my-photo{
    height: 225px;
    width: 225px;
    border:solid;
    margin-top: 1ex;
}

#side-bar{
    background-color: #5a002c;
    color: pink;
    padding-left: 5px;
    padding-right: 5px;
}
#main-part{
    color:#5a002c;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5a002c;
    padding: 10px;
}

#navbar a {
    background-color: #5a002c;
    color: pink;
    text-decoration: none;
    height: 2em;
    width: 5em;
}

#navbar a:hover {
    background-color: pink;
    color: #5a002c;
}

#logout {
    color: pink;
    text-decoration: none;
    display: flex;
    align-items: center;
}

#logout p {
    margin-right: 10px;
}

#logout a {
    color: pink;
    text-decoration: none;
}