input, select {
    padding: 0.5em;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
    margin-bottom: 1em;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover{
    background-color: #0056b3; 
}